:root {
    --bg: rgb(17, 60, 122);
    --clt-slate-light: rgb(255, 255, 255);
    --clt-slate-dim: rgb(255, 255, 255, .4);
}

main {
    /* background: url('https://www.petesduelingpianostogo.com/images/backgrounds/background-10-1920x1062.jpg'); */
    background: url('../img/bg-masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(17, 60, 122, .5);
    z-index: -1;
}

.main-container {
    display: flex;
    /* flex-direction: row-reverse; */
    position: relative;
    max-height: 48rem;
    top: 50%;
    transform: translateY(-50%);
}

.main-container>* {
    position: absolute;
    top: 50%;
    height: 90%;
    /* transform: translateY(-50%) translateX(5%); */
    transition: .8s;
}

.main-container>:first-child {
    left: 0;
    z-index: 2;
}

.main-container>:last-child {
    right: 5%;
}

.position-controller {}

.left-position,
.right-position {
    border: var(--clt-slate-dim) solid 1px;
    border-radius: 5px;
    width: 1.2rem;
    height: 1.5rem;
    background: var(--bg);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.left-position.active,
.right-position.active {
    border-color: var(--clt-slate-light);
}

.left-position::before,
.right-position::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 50%;
    background: var(--clt-slate-dim);
}

.left-position.active::before,
.right-position.active::before {
    background: var(--clt-slate-light);
}

.right-position::before {
    left: 50%;
}
.form{
    display: grid;
    grid-template-rows: auto 1fr;
    background: rgba(17,60,122,.6);
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.form::-webkit-scrollbar, .form-container::-webkit-scrollbar{
    display: none;
}
.form-container input:disabled{
    background: #a8a9ace0;
}
.form-footer .more-links-container{
    display: grid;
    gap:2px;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,150px),1fr));
}
.form-footer .more-links-container a{
    padding-inline: 5px;
    color: #fff;
}
.form-footer .more-links-container a:hover{
    color: #D0A153;
}
@media(max-width:768px){
    .form{
        left: 0 !important;
    }
}